body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  
  section a{
      text-decoration: none;
  }
  a{
      text-decoration: none;
  }
  
  .service-grid {
    background: #aa29d9;
    background: -webkit-linear-gradient(to right, #aa29d9, #fff);  
    background: linear-gradient(to right, #aa29d9, #fff);
    }
     .service-title h4 {
      position: relative;
      display: inline-block;
      font-size: 60px;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    }
    .service-icon {
      position: relative;
    }
    .service-title p {
      padding: 0 190px;
      margin-bottom: 10px;
    }
    .about-info-text h2 {
      margin-bottom: 23px;
      text-transform: capitalize;
      font-weight: 700;
      line-height: .9;
    }
    .about-info-text p {
      padding: 0 100px;
      font-size: 18px;
      margin-bottom: 26px;
        position: relative;
    }
    .about-content p {
      margin-bottom: 0;
    }
    .about-info-text a {
      margin-bottom: 20px;
        position: relative;
    }
    .service-icon i {
      font-size: 40px;
      color: #000;
      margin-bottom: 20px;
      display: inline-block;
    }
  
    .service-wrap {
      border: 1px solid #000;
      padding: 50px 50px;
      position: relative;
      min-height: 20em;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .service-wrap p{
        position: relative;
    }
    
    .service-wrap:hover {
      background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3)), url(https://i.ibb.co/v1LVrKQ/image2.jpg);
      background-size: cover;
      background-position: center center;
      background-attachment: local;
      transition: all .5s;
    }
  
    .service-wrap:hover:before {
      background: rgba(0, 0, 0, 0.2901960784313726);
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0px;
      content: "";
      top: 0;
      opacity: 1;
    }
    
    .service-wrap:hover h4,.service-wrap:hover p{
      color: #fff !important;
      z-index: 999;
      text-decoration: none;
      
    }
    .service-wrap h4 {
      font-weight: 600;
      color: #000;
      margin-bottom: 17px;
      font-size: 25px;
      text-transform: capitalize;
     
    }
    .service-wrap a {
      font-size: 14px;
      font-weight: 600;
        position: relative;    
    }
  
    .service-wrap:hover .service-icon i {
      color: #fff;
      transition: color;
      /* transition: color 0.5s; */
  }

